* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
  text-decoration: none;
}
header {
  padding: 40px 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
header .logo {
  width: 250px;
  background: url(../imagens/logo.svg) no-repeat;
  text-indent: -9000px;
}
header .tente-gratis button {
  cursor: pointer;
  background: transparent;
  padding: 10px 20px;
  border: 2px solid #fd53c0;
  border-radius: 20px;
  color: #fd53c0;
  margin-top: 20px;
}
header .tente-gratis button:hover {
  background-color: #fd53c0;
  color: white;
}
article#container1 {
  margin-top: 50px;
}
article#container1 section.conteudo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article#container1 section.conteudo1 h1 {
  font-size: 3.5em;
}
article#container1 section.conteudo1 p {
  font-size: 20px;
  margin-top: 15px;
  width: 40%;
  text-align: center;
}
article#container1 section.conteudo1 button {
  cursor: pointer;
  font-size: 1.3em;
  background: #fd53c0;
  color: white;
  border: 2px solid #fd53c0;
  padding: 20px 50px;
  margin-top: 30px;
  border-radius: 30px;
  width: 300px;
}
article#container1 section.conteudo1 button:hover {
  background: transparent;
  color: #fd53c0;
}
article#container1 section.conteudo1 img {
  margin: 80px 25px;
}
article#numeros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 220px 300px 220px;
  background: url(../imagens/bg-section-top-desktop-1.svg) no-repeat bottom;
  background-size: contain;
}
article#numeros section.um h3 {
  font-size: 90px;
}
article#numeros section.um p {
  color: #a7a7a7;
  text-align: center;
  font-size: 25px;
}
article#numeros section.dois {
  width: 100%;
}
article#grow-together {
  background-color: #f6fbff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
article#grow-together section.conteudo-grow-together {
  width: 730px;
}
article#grow-together section.conteudo-grow-together h3 {
  font-size: 32px;
  display: flex;
  justify-content: center;
}
article#grow-together section.conteudo-grow-together p {
  margin-top: 30px;
  color: #a7a7a7;
  font-size: 16px;
}
article#grow-together section.imagem {
  padding-left: 100px;
}
article#grow-together section.imagem img {
  width: 80%;
}
article#flowing-conversation {
  background: url(../imagens/bg-section-bottom-desktop-1.svg) no-repeat top;
  background-size: contain;
  padding: 300px 220px 0px 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article#flowing-conversation section.imagem-flowing-conversation {
  padding-right: 100px;
}
article#flowing-conversation section.imagem-flowing-conversation img {
  width: 80%;
}
article#flowing-conversation section.conteudo-flowing-conversation {
  width: 730px;
}
article#flowing-conversation section.conteudo-flowing-conversation h3 {
  font-size: 32px;
  display: flex;
  justify-content: center;
}
article#flowing-conversation section.conteudo-flowing-conversation p {
  margin-top: 30px;
  color: #a7a7a7;
  font-size: 16px;
}
article#topo-your-users {
  background: url(../imagens/bg-section-top-desktop-2.svg) no-repeat bottom;
  background-size: contain;
  padding: 300px 220px 0 220px ;
}
article#your-users {
  background-color: #f6fbff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
article#your-users section.conteudo-your-users {
  width: 730px;
}
article#your-users section.conteudo-your-users h3 {
  font-size: 32px;
  display: flex;
  justify-content: center;
}
article#your-users section.conteudo-your-users p {
  margin-top: 30px;
  color: #a7a7a7;
  font-size: 16px;
}
article#your-users section.imagem-your-users {
  padding-left: 100px;
}
article#your-users section.imagem-your-users img {
  width: 80%;
}
article#bottom-your-users {
  background: url(../imagens/bg-section-bottom-desktop-2.svg) no-repeat top;
  background-size: contain;
  padding: 300px 220px 0 220px ;
}
article#ready {
  width: 100%;
  margin-top: 50px;
}
article#ready section.conteudo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article#ready section.conteudo1 h1 {
  font-size: 3.5em;
}
article#ready section.conteudo1 button {
  cursor: pointer;
  font-size: 1.3em;
  background: #fd53c0;
  color: white;
  border: 2px solid #fd53c0;
  padding: 20px 50px;
  margin-top: 30px;
  border-radius: 30px;
  width: 300px;
}
article#ready section.conteudo1 button:hover {
  background: transparent;
  color: #fd53c0;
}
article#ready section.conteudo1 img {
  margin-top: 80px;
}
article#topo-footer {
  background: url(../imagens/bg-footer-top-desktop.svg) no-repeat bottom;
  background-size: contain;
  margin-top: 100px;
  padding: 200px 220px 0 220px ;
}
footer {
  background: #01262f;
  padding: 0px 100px 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .column1 {
  width: 30%;
}
footer .column1 .logo {
  display: flex;
  align-items: center;
}
footer .column1 .logo .email {
  color: white;
  font-size: 40px;
  margin-right: 25px;
}
footer .column1 .logo h2 {
  font-size: 80px;
  color: white;
}
footer .column1 .text {
  color: white;
  font-size: 18px;
  margin: 10px 0px 30px 0px;
}
footer .column1 .phone {
  display: flex;
  align-items: center;
}
footer .column1 .phone .phone {
  color: white;
  font-size: 20px;
  margin-right: 15px;
}
footer .column1 .phone p {
  color: white;
  font-size: 16px;
}
footer .column1 .email {
  display: flex;
  margin-top: 15px;
  align-items: center;
}
footer .column1 .email .email-icon {
  color: white;
  font-size: 20px;
  margin-right: 15px;
}
footer .column1 .email p {
  color: white;
  font-size: 18px;
}
footer .newsletter {
  width: 40%;
}
footer .newsletter .titulo h2 {
  font-size: 40px;
  color: white;
}
footer .newsletter .text {
  color: white;
  font-size: 18px;
  margin: 10px 0px 30px 0px;
  width: 75%;
}
footer .newsletter .input {
  display: flex;
}
footer .newsletter .input input {
  width: 300px;
  height: 40px;
  border: none;
  padding-left: 10px;
  border-radius: 3px;
}
footer .newsletter .input button {
  color: white;
  background: #fd53c0;
  border-radius: 3px;
  margin-left: 15px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
}
footer .newsletter .input button:hover {
  background: transparent;
  border: 2px solid #fd53c0;
  color: #fd53c0;
}
