* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
  text-decoration: none;
}
header {
  padding: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
header .tente-gratis button {
  cursor: pointer;
  background: transparent;
  padding: 10px 20px;
  border: 2px solid #eb8cab;
  border-radius: 20px;
  color: #eb8cab;
}
header .tente-gratis button:hover {
  background-color: #eb8cab;
  color: white;
}
#container1 {
  width: 100%;
  margin: 50px 50px;
}
#container1 .conteudo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container1 .conteudo1 h2 {
  font-size: 2.5em;
}
#container1 .conteudo1 p {
  margin-top: 15px;
  width: 420px;
  text-align: center;
}
#container1 .conteudo1 button {
  font-size: 1.3em;
  background: #eb8cab;
  color: white;
  border: 2px solid #eb8cab;
  padding: 20px 50px;
  margin-top: 30px;
  border-radius: 30px;
  width: 300px;
}
