*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

header{
    padding: 40px;
    position: relative;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    .tente-gratis{
        button{
            cursor: pointer;
            background: transparent;
            padding: 10px 20px;
            border: 2px solid rgb(235, 140, 171);
            border-radius: 20px;
            color: rgb(235, 140, 171);
            &:hover{
                background-color: rgb(235, 140, 171) ;
                color: white;
            }
        }
    }
}