@rosa:#fd53c0;
@fundo:#f6fbff;
@cinza:#a7a7a7;
@footer:#01262f;

*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
}

header{
    padding: 40px 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    .logo{
        width: 250px;
        background: url(../imagens/logo.svg) no-repeat;
        text-indent: -9000px;
    }
    .tente-gratis{
        button{
            cursor: pointer;
            background: transparent;
            padding: 10px 20px;
            border: 2px solid @rosa;
            border-radius: 20px;
            color: @rosa;
            margin-top: 20px;
            &:hover{
                background-color: @rosa ;
                color: white;
            }
        }
    }
}

article#container1{
    margin-top: 50px;
    section.conteudo1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 3.5em;
        }
        p{
            font-size: 20px;
            margin-top: 15px;
            width: 40%;
            text-align: center;
        }
        button{
            cursor: pointer;
            font-size: 1.3em;
            background: @rosa;
            color: white;
            border: 2px solid @rosa;
            padding: 20px 50px;
            margin-top: 30px;
            border-radius: 30px;
            width: 300px;
            &:hover{
                background: transparent;
                color: @rosa;
            }
        }
        img{
            margin: 80px 25px;
        }
    }
}

article#numeros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 220px 300px 220px;
    background: url(../imagens/bg-section-top-desktop-1.svg) no-repeat bottom;
    background-size: contain;
    section.um{
        h3{
            font-size: 90px;
        }
        p{
            color: @cinza;
            text-align: center;
            font-size: 25px;
        }
    }
    section.dois{
        width: 100%;
    }
}

article#grow-together{
    background-color: @fundo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    section.conteudo-grow-together{
        width: 730px;
        h3{
            font-size: 32px;
            display: flex;
            justify-content: center;
        }
        p{
            margin-top: 30px;
            color: @cinza;
            font-size: 16px;
        }
    }
    section.imagem{
        padding-left: 100px;
        img{
            width: 80%;
        }
    }
}

article#flowing-conversation{
    background: url(../imagens/bg-section-bottom-desktop-1.svg) no-repeat top;
    background-size: contain;
    padding: 300px 220px 0px 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    section.imagem-flowing-conversation{
        padding-right: 100px;
        img{
            width: 80%;
        }
    }
    section.conteudo-flowing-conversation{
        width: 730px;
        h3{
            font-size: 32px;
            display: flex;
            justify-content: center;
        }
        p{
            margin-top: 30px;
            color: @cinza;
            font-size: 16px;
        }
    }
}

article#topo-your-users{
    background: url(../imagens/bg-section-top-desktop-2.svg) no-repeat bottom;
    background-size: contain;
    padding: 300px 220px 0 220px ;
}

article#your-users{
    background-color: @fundo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    section.conteudo-your-users{
        width: 730px;
        h3{
            font-size: 32px;
            display: flex;
            justify-content: center;
        }
        p{
            margin-top: 30px;
            color: @cinza;
            font-size: 16px;
        }
    }
    section.imagem-your-users{
        padding-left: 100px;
        img{
            width: 80%;
        }
    }
}

article#bottom-your-users{
    background: url(../imagens/bg-section-bottom-desktop-2.svg) no-repeat top;
    background-size: contain;
    padding: 300px 220px 0 220px ;
}

article#ready{
    width: 100%;
    margin-top: 50px;
    section.conteudo1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 3.5em;
        }
        button{
            cursor: pointer;
            font-size: 1.3em;
            background: @rosa;
            color: white;
            border: 2px solid @rosa;
            padding: 20px 50px;
            margin-top: 30px;
            border-radius: 30px;
            width: 300px;
            &:hover{
                background: transparent;
                color: @rosa;
            }
        }
        img{
            margin-top: 80px;
        }
    }
}

article#topo-footer{
    background: url(../imagens/bg-footer-top-desktop.svg) no-repeat bottom;
    background-size: contain;
    margin-top: 100px;
    padding: 200px 220px 0 220px ;
}

footer{
    background: @footer;
    padding: 0px 100px 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .column1{
        width: 30%;
        .logo{
            display: flex;
            align-items: center;
            .email{
                color: white;
                font-size: 40px;
                margin-right: 25px;
            }
            h2{
                font-size: 80px;
                color: white;
            }
        }
        .text{
            color: white;
            font-size: 18px;
            margin: 10px 0px 30px 0px;
        }
        .phone{
            display: flex;
            align-items: center;
            .phone{
                color: white;
                font-size: 20px;
                margin-right: 15px;
            }
            p{
                color: white;
                font-size: 16px;
            }
        }
        .email{
            display: flex;
            margin-top: 15px;
            align-items: center;
            .email-icon{
                color: white;
                font-size: 20px;
                margin-right: 15px;
            }
            p{
                color: white;
                font-size: 18px;
            }
        }
    }
    .newsletter{
        width: 40%;
        .titulo{
            h2{
                font-size: 40px;
                color: white;
            }
        }
        .text{
            color: white;
            font-size: 18px;
            margin: 10px 0px 30px 0px;
            width: 75%;
        }
        .input{
            display: flex;
            input{
                width: 300px;
                height: 40px;
                border: none;
                padding-left: 10px;
                border-radius: 3px;
            }
            button{
                color: white;
                background: @rosa;
                border-radius: 3px;
                margin-left: 15px;
                border: none;
                padding: 10px 15px;
                cursor: pointer;
                font-weight: bold;
                &:hover{
                    background: transparent;
                    border: 2px solid @rosa;
                    color: @rosa;
                }
            }
        }
    }
}